.movie-card{
    height: 350px;
    width: 300px;
    padding-left: 50px;
    border-radius: 6px;
    margin-left: 90px;
    box-shadow: 2px 2px 2px 2px rgb(14, 13, 13);
}

img{
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}